html, body{
    margin: 0px;
    padding: 0px;
}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.app > .content {
    width: 70%;
    height: 100%;
}

.app > .left{
    width: 15%;
    height: 100%;
    background-color: aquamarine;
}

.app > .right{
    width: 15%;
    height: 100%;
    background-color: aquamarine;
}

.video-wrapper{
    position: relative;
    width: 100%;
    height: 25%;
}

.video-wrapper > .video{
    width: 100%;
    height: 100%;
}

.video-wrapper > .username{
    position: absolute;
    color: #fff;
    z-index: 1;
    right: 0;
    bottom: 0;
}

.video-wrapper > .operator{
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}
